<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">Terms & Conditions</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis mollitia reiciendis nobis eligendi quisquam quod asperiores ut culpa quos error tempore, nisi laudantium! Illo eum laudantium iusto magni et soluta?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut at, aliquam nostrum alias consequuntur quas dolor enim blanditiis ullam id! Doloremque dicta sit blanditiis. Tempore quod fuga aperiam doloribus repellendus!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure quam officiis blanditiis voluptates commodi suscipit voluptatum, labore quae dolor aperiam quod vitae vero quibusdam, quo nam dolorem mollitia, voluptate inventore?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, doloribus corrupti earum nisi sapiente, error, autem id mollitia asperiores quo rerum impedit ullam nesciunt odio repellendus voluptas quas repudiandae! Alias?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates quisquam, quod quibusdam ducimus, rerum placeat laborum nihil modi porro, ea nisi possimus! Nesciunt, accusamus est distinctio nostrum eaque nisi corrupti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, exercitationem! Amet minima natus, possimus iste illo error aut laboriosam itaque explicabo commodi odio molestiae labore tempore praesentium quia eius dolorem.</p>
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
            </div>
        </div>
    </div> 
</section>
